* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Tilt Neon', cursive;
}

/* NAVBAR */

li {
    list-style: none;
}

a {
    padding: 0px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Potta One', cursive;
    color: #fff;
}

nav {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    display: block;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
    transform: translateX(0%);
}

.nav-links a:hover {
    color: grey;
    letter-spacing: 5px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition: all 0.5s ease;
}

@media only screen and (max-width: 760px) {
    nav {
        justify-content: space-between;
        padding: 0 5vw;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 8vh;
        min-height: 35vh;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 0;
        width: 300px;
        margin: 0;
        padding: 15px;
        transform: translateX(100%);
        transition: All 0.5s ease-in;
    }

    .nav-links a {
        opacity: 0;

    }

    .burger {
        display: block;
    }

}

@media only screen and (max-width: 640px) {
    nav {
        justify-content: space-between;
        align-items: center;
        padding: 0 5vw;
    }
}

.nav-active {
    transform: translateX(0);
}

@media only screen and (max-width: 460px) {
    .nav-links {
        width: 100%;
        transition: All 0.5s ease;
    }
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* BANNERS */

.banner-image-inicio {
    background-image: url(../Imagenes/Gordito.jpg);
    height: 150vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-image-plan {
    background-image: url(../Imagenes/plan_1.jpg);
    height: 150vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-image-grupo {
    background-image: url(../Imagenes/grupo_1.jpg);
    height: 150vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-image-menu {
    background-image: url(../Imagenes/menu_1.jpg);
    height: 150vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-image-contactanos {
    background-image: url(../Imagenes/contactanos_1.jpg);
    min-height: 150vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* CONTACTO */

.formulario-contacto {
    height: 630x;
    padding: 1.3em;
}

.glass-effect {
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(0.7rem);
    -webkit-backdrop-filter: blur(0.7rem);
}